<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Edit User - Stock-Trade</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:href="@{/img/logo.png}" rel="icon">
    <link th:href="@{/img/logo.png}" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendor/quill/quill.snow.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendor/quill/quill.bubble.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendor/simple-datatables/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{/index}" class="logo d-flex align-items-center">
            <img th:src="@{/img/logo.png}" alt="">
            <span class="d-none d-lg-block">Stock-Trade</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="${userProfile.getProfilePictureUrl() != null ? userProfile.getProfilePictureUrl() : '/img/defaultProfileImg.png'}"
                         alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2"
                          th:text="${userProfile.getFirstName() != null && userProfile.getLastName() != null ? userProfile.getFirstName() + ' ' + userProfile.getLastName().substring(0, 1) + '.' : username}"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${userProfile.getFirstName() != null && userProfile.getLastName != null ? userProfile.getFirstName + ' ' + userProfile.getLastName : username}"></h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center"
                           th:href="@{/profile-page}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <form id="logoutForm" action="/api/auth/logout" method="POST" style="display:inline;">
                            <button type="submit" class="dropdown-item d-flex align-items-center">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Logout</span>
                            </button>
                        </form>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/index}">
                <i class="bi bi-house"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/category-page}">
                <i class="bi bi-grid"></i>
                <span>Category</span>
            </a>
        </li><!-- End Category Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/product-page}">
                <i class="bi bi-box"></i>
                <span>Product</span>
            </a>
        </li><!-- End Product Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/supplier-page}">
                <i class="bi bi-truck"></i>
                <span>Supplier</span>
            </a>
        </li><!-- End Supplier Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/purchases-page}">
                <i class="bi bi-bag-check"></i>
                <span>Purchases</span>
            </a>
        </li><!-- End Purchase Page Nav -->


        <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-item">
            <a class="nav-link collapsed" th:href="@{/users-page}">
                <i class="bi bi-people"></i>
                <span>Users</span>
            </a>
        </li><!-- End Users Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/invoice-page}">
                <i class="bi bi-file-earmark"></i>
                <span>Invoice</span>
            </a>
        </li><!-- End Report Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Edit User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/users-page}">Users</a></li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container mt-5">
        <form th:action="@{/api/user/edit/{id}(id=${user.id})}" method="post">
            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control"
                       th:value="${user.getUsername() != null ? user.getUsername() : ''}"
                       th:placeholder="${user.getUsername() != null ? '' : 'Enter username'}" required/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="Enter your password" required/>
            </div>
            <button type="submit" class="btn btn-primary">Save Change</button>
        </form>
    </div>


</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!--JS Files -->
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>